#navbar {
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}
#logo {
  color: #fff;
  font-family: sans-serif;
  font-size: 3rem;
  margin: 0 20px;
}
#nav-links {
  color: #fff;
  font-family: sans-serif;
  height: 100%;
  list-style-type: none;
  margin: 0 20px;
}#nav-links li {
  float: left;
  padding: 5px;
}