<div id="detailsBox">
  <img id="detailsImage" src={{singleProduct.imageUrl}} alt={{singleProduct.name}}>
  <div id="productInfoBox">
    <h2 id="infoBoxTitle">{{singleProduct.name}}, 
      <span id="infoBoxYear">{{singleProduct.year}}</span>
    </h2>
    <p id="infoBoxText">{{singleProduct.description}}</p>
    <div id="buttonContainer">
      <button id="backButton" routerLink="/"> < </button>
      <button id="addButton" (click)="addToCart(singleProduct.id)"> + </button>
    </div>
  </div>
</div>