#navbar {
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: space-between;
  margin: 0;
  position: sticky;
  top: 0;
  width: 100%;
}
#logo {
  color: #fff;
  font-family: fantasy;
  font-size: 3rem;
  margin: 0 20px;
}
#nav-links {
  height: 100%;
  list-style-type: none;
  margin: 0 20px;
}
#nav-links li {
  float: left;
  padding: 15px;
}
#nav-links a {
  color: #fff;
  font-family: fantasy;
  font-size: 2rem;
  text-decoration: none;
}
#nav-links a:visited {
  color: #fff;
}