<div id="cartContainer">
  <ul id="cart">
    <li class="cartItem" *ngFor="let cartItem of cart">
      <img class="thumbImage" src={{cartItem.movie.imageUrl}} 
        alt={{cartItem.movie.description}}>
      <div class="movieInfo">
        <p class="itemName">{{cartItem.movie.name}}</p>
        <p class="itemPrice">{{cartItem.movie.price}} SEK</p>
        <p class="itemAmount">{{cartItem.amount}} pcs.</p>
      </div>
    </li>
  </ul>
</div>
<div id="formContainer">
  <form [formGroup]="form" (ngSubmit)="submitOrder()">
    <label for="companyId">Company id:</label>
    <input type="text" formControlName="companyId" id="companyId">
    <label for="createdBy">Your name:</label>
    <input type="text" formControlName="createdBy" id="createdBy">
    <label for="paymentMethod">Payment method:</label>
    <select formControlName="paymentMethod" id="paymentMethod">
      <option value="Swish">Swish</option>
      <option value="PayPal">PayPal</option>
    </select>
    <button type="submit" [disabled]="!form.valid">Submit order</button>
  </form>
</div>